In [2]:
template = """
I want to produce an article on the cheapest places to live (for renters) in {state}. Start by producing a section titled exactly as "# Cheapest Places to Live in {state}". This section should be 7 to 8 sentences and an overview of {state} within the broader context of cheapest places to live for renters.

Based on our methodology, the cheapest cities are: {listed_cities}

Next, produce one section for each of the 5 cities mentioned above. Create a standard header that starts with "## " before discussing the cities.  Talk about why the city is a great place to live given the data points below. When it comes to rent prices, do not draw any comparisons. Just focus on the data that is given and why the city is nice to live in. Try to reference actual nearby points of interest, roads, neighborhoods, parks, etc.


Data to utilize:
{post_data}
"""

NameError: name 'us_state_to_abbrev' is not defined

In [4]:
import os
import pandas as pd 
# StateAB to state
import re
from tabulate import tabulate
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))
df = pd.DataFrame(columns=['filepath', 'prompt', 'response'])

for file in [f for f in os.listdir("states") if re.search(r'[A-Z]{2}', f)]:
    state_ab = file
    
    state = abbrev_to_us_state[state_ab]
    data_file = pd.read_csv("states/"+file +"/Table/data.csv")
    data_file = data_file.sort_values(by='Score', ascending=False)[:5]
    
    my_list = ', '.join(data_file['City, State'].tolist())
    my_list += "."
    print(my_list)
    my_temp = template 
    my_temp = my_temp.replace('{state}', state.title())
    
    my_temp = my_temp.replace('{listed_cities}', my_list)
    data_data = data_file.to_markdown()
    print(data_data)
    my_temp = my_temp.replace('{post_data}', data_data)
    df.loc[len(df)] = ['states/'+file + "/chatgpt_output.txt", my_temp, '']

Essex Junction, VT, Winooski, VT.
|    | City, State        |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Essex Junction, VT |        10761 |           76845 |              305300 |                2325 |       0 |
|  1 | Winooski, VT       |         7320 |           56236 |              231300 |                1705 |       0 |
Danville, VA, Martinsville, VA, Waynesboro, VA, Roanoke, VA, Hopewell, VA.
|    | City, State      |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Danville, VA     |        40668 |           37147 |               95500 |                 700 | 99.5779 |
|  1 | Martinsville, VA |        12646 |           36166 |               79000 |                 850 | 97.3915 |
|  2 | Waynesboro, VA   |        22300 |           43480 |              183600 |                1200 | 93.9329 |
|  3 | Roanoke, VA      |        99122 |           45664 |              134900 |                1156 | 90.6353 |
|  4 | Hopewell, VA     |        22500 |           43262 |              126100 |                1105 | 90.5832 |
Pierre, SD, Vermillion, SD, Aberdeen, SD, Brookings, SD, Watertown, SD.
|    | City, State    |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Pierre, SD     |        13908 |           68263 |              180800 |                 785 | 78.5178 |
|  1 | Vermillion, SD |        10852 |           43750 |              158800 |                 651 | 71.4337 |
|  2 | Aberdeen, SD   |        28315 |           56455 |              169400 |                1020 | 59.8347 |
|  3 | Brookings, SD  |        24479 |           53845 |              187100 |                 880 | 58.359  |
|  4 | Watertown, SD  |        22249 |           52145 |              175600 |                1470 | 45.5471 |
Taylors, SC, Gaffney, SC, Orangeburg, SC, Sumter, SC, Port Royal, SC.
|    | City, State    |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Taylors, SC    |        23107 |           62365 |              176900 |                 800 | 89.9614 |
|  1 | Gaffney, SC    |        12733 |           31355 |              104900 |                1149 | 88.1611 |
|  2 | Orangeburg, SC |        12713 |           28587 |              107700 |                1025 | 86.9011 |
|  3 | Sumter, SC     |        39758 |           40760 |              131800 |                1043 | 83.4502 |
|  4 | Port Royal, SC |        13265 |           59081 |              242700 |                1200 | 81.4057 |
Provo, UT, Tooele, UT, Ogden, UT, Midvale, UT, Layton, UT.
|    | City, State   |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:--------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Provo, UT     |       116886 |           50072 |              298000 |                1643 | 77.3737 |
|  1 | Tooele, UT    |        35313 |           65740 |              212400 |                 930 | 69.6554 |
|  2 | Ogden, UT     |        87175 |           55974 |              195600 |                1490 | 64.6724 |
|  3 | Midvale, UT   |        33708 |           62354 |              285200 |                1534 | 60.9431 |
|  4 | Layton, UT    |        77268 |           81067 |              285100 |                1562 | 59.5912 |
Americus, GA, Statesboro, GA, Albany, GA, Milledgeville, GA, Warner Robins, GA.
|    | City, State       |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Americus, GA      |        15319 |           33405 |               93400 |                 675 | 90.8989 |
|  1 | Statesboro, GA    |        32115 |           32790 |              115100 |                 809 | 88.6192 |
|  2 | Albany, GA        |        72634 |           38826 |              100300 |                 737 | 88.3025 |
|  3 | Milledgeville, GA |        18526 |           32235 |              137400 |                 825 | 87.9654 |
|  4 | Warner Robins, GA |        76967 |           55163 |              129000 |                1010 | 81.3478 |
Clarksdale, MS, Natchez, MS, Brookhaven, MS, Meridian, MS, Columbus, MS.
|    | City, State    |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Clarksdale, MS |        15342 |           30603 |               65100 |                 655 | 94.3683 |
|  1 | Natchez, MS    |        14854 |           26800 |               99500 |                 675 | 87.6527 |
|  2 | Brookhaven, MS |        12045 |           31488 |               93300 |                 700 | 86.9673 |
|  3 | Meridian, MS   |        37252 |           30088 |               84300 |                 835 | 81.6787 |
|  4 | Columbus, MS   |        23853 |           34551 |              115100 |                 800 | 81.39   |
Great Falls, MT, Helena, MT, Missoula, MT, Kalispell, MT, Billings, MT.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Great Falls, MT |        58717 |           49809 |              181500 |                1505 | 89.8577 |
|  1 | Helena, MT      |        32655 |           60074 |              263300 |                1350 | 88.6765 |
|  2 | Missoula, MT    |        74994 |           50947 |              301700 |                1495 | 86.7607 |
|  3 | Kalispell, MT   |        23935 |           47750 |              242500 |                1650 | 83.7447 |
|  4 | Billings, MT    |       109705 |           60032 |              233700 |                1760 | 76.2938 |
Cape Girardeau, MO, Joplin, MO, Branson, MO, Farmington, MO, Independence, MO.
|    | City, State        |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Cape Girardeau, MO |        40100 |           45713 |              153400 |                 538 | 94.105  |
|  1 | Joplin, MO         |        50580 |           45091 |              125400 |                 899 | 90.4737 |
|  2 | Branson, MO        |        11526 |           44184 |              168200 |                 850 | 88.4219 |
|  3 | Farmington, MO     |        18792 |           44093 |              134900 |                 790 | 87.0954 |
|  4 | Independence, MO   |       117139 |           50797 |              121200 |                1050 | 86.2869 |
Holyoke, MA, Chicopee, MA, Springfield, MA, Pittsfield, MA, Gardner, MA.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Holyoke, MA     |        40161 |           42537 |              197700 |                 734 | 98.8253 |
|  1 | Chicopee, MA    |        55186 |           52702 |              188400 |                1365 | 90.4212 |
|  2 | Springfield, MA |       153677 |           41571 |              162900 |                1486 | 89.7416 |
|  3 | Pittsfield, MA  |        42514 |           56620 |              176800 |                1450 | 88.9456 |
|  4 | Gardner, MA     |        20605 |           51708 |              192500 |                1482 | 88.7581 |
Fairbanks, AK, Anchorage, AK, North Pole, AK.
|    | City, State    |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Fairbanks, AK  |        31427 |           64397 |              217700 |                1400 | 54.5998 |
|  1 | Anchorage, AK  |       292090 |           84813 |              320100 |                1629 | 28.9062 |
|  2 | North Pole, AK |         2969 |           81491 |              222400 |                1350 |  0      |
Henderson, KY, Richmond, KY, Burlington, KY, Frankfort, KY, Ashland, KY.
|    | City, State    |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Henderson, KY  |        28469 |           40360 |              119800 |                 822 | 96.9637 |
|  1 | Richmond, KY   |        35744 |           39329 |              148900 |                 800 | 92.3599 |
|  2 | Burlington, KY |        18203 |           86651 |              176400 |                 810 | 87.6544 |
|  3 | Frankfort, KY  |        27705 |           50602 |              132500 |                 835 | 85.6398 |
|  4 | Ashland, KY    |        20449 |           42639 |              101900 |                 950 | 83.3908 |
Jacksonville, AL, Ozark, AL, Center Point, AL, Gadsden, AL, Sylacauga, AL.
|    | City, State      |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Jacksonville, AL |        12796 |           41530 |              150000 |                 525 | 94.0882 |
|  1 | Ozark, AL        |        14350 |           41894 |              123800 |                 589 | 92.2105 |
|  2 | Center Point, AL |        15971 |           45221 |               99400 |                 725 | 89.887  |
|  3 | Gadsden, AL      |        35224 |           34062 |               80400 |                 700 | 88.1679 |
|  4 | Sylacauga, AL    |        12132 |           37093 |              134500 |                 600 | 87.958  |
Rochester, NH, Concord, NH, Somersworth, NH, Manchester, NH, Keene, NH.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Rochester, NH   |        31305 |           66831 |              186600 |                1310 | 88.9928 |
|  1 | Concord, NH     |        43503 |           70004 |              239300 |                1667 | 78.1813 |
|  2 | Somersworth, NH |        12027 |           67209 |              211400 |                1795 | 75.1153 |
|  3 | Manchester, NH  |       112441 |           62087 |              241600 |                2152 | 67.157  |
|  4 | Keene, NH       |        22823 |           57393 |              186200 |                2325 | 63.6811 |
Albert Lea, MN, Hibbing, MN, Fergus Falls, MN, Grand Rapids, MN, Willmar, MN.
|    | City, State      |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Albert Lea, MN   |        17804 |           45929 |              102700 |                 605 | 97.075  |
|  1 | Hibbing, MN      |        15923 |           47030 |              111900 |                 822 | 92.4704 |
|  2 | Fergus Falls, MN |        13754 |           42659 |              142700 |                 850 | 88.3894 |
|  3 | Grand Rapids, MN |        11218 |           48247 |              153200 |                 800 | 87.0457 |
|  4 | Willmar, MN      |        19728 |           51884 |              140800 |                 882 | 86.8291 |
Mount Clemens, MI, Highland Park, MI, Niles, MI, Coldwater, MI, Flint, MI.
|    | City, State       |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Mount Clemens, MI |        16212 |           47528 |              118800 |                 300 | 95.0935 |
|  1 | Highland Park, MI |        10818 |           20666 |               50200 |                 641 | 93.1967 |
|  2 | Niles, MI         |        11168 |           38415 |               86000 |                 700 | 93.1867 |
|  3 | Coldwater, MI     |        12203 |           40561 |               93400 |                 583 | 90.3937 |
|  4 | Flint, MI         |        95999 |           30383 |               31700 |                 891 | 89.9168 |
Ponca City, OK, Shawnee, OK, Enid, OK, Weatherford, OK, El Reno, OK.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Ponca City, OK  |        23940 |           44281 |              102600 |                 452 | 91.969  |
|  1 | Shawnee, OK     |        31361 |           41123 |              113300 |                 647 | 76.1986 |
|  2 | Enid, OK        |        50116 |           51784 |              112800 |                 895 | 74.2651 |
|  3 | Weatherford, OK |        11908 |           47740 |              190300 |                 650 | 69.2994 |
|  4 | El Reno, OK     |        19539 |           42659 |              114300 |                 776 | 68.3734 |
Bedford, IN, Richmond, IN, Marion, IN, Terre Haute, IN, Logansport, IN.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Bedford, IN     |        13246 |           42893 |              107200 |                 500 | 93.6716 |
|  1 | Richmond, IN    |        35467 |           40871 |               86300 |                 740 | 86.4834 |
|  2 | Marion, IN      |        27730 |           35252 |               69800 |                 757 | 85.6289 |
|  3 | Terre Haute, IN |        60690 |           37299 |               83800 |                 785 | 82.2566 |
|  4 | Logansport, IN  |        17968 |           38053 |               66800 |                 895 | 81.1075 |
Grand Junction, CO, Pueblo, CO, Greeley, CO, Wheat Ridge, CO, Colorado Springs, CO.
|    | City, State          |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Grand Junction, CO   |        62218 |           54570 |              251400 |                1045 | 96.3452 |
|  1 | Pueblo, CO           |       111776 |           42902 |              149600 |                1511 | 87.9528 |
|  2 | Greeley, CO          |       107445 |           57537 |              274800 |                1397 | 82.0025 |
|  3 | Wheat Ridge, CO      |        31889 |           63333 |              426500 |                1495 | 78.4796 |
|  4 | Colorado Springs, CO |       471686 |           67719 |              294500 |                1590 | 76.6209 |
Susanville, CA, Twentynine Palms, CA, Coalinga, CA, Barstow, CA, Redding, CA.
|    | City, State          |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:---------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Susanville, CA       |        14922 |           47685 |              175100 |                 800 | 99.0005 |
|  1 | Twentynine Palms, CA |        26748 |           42959 |              139400 |                1045 | 97.6204 |
|  2 | Coalinga, CA         |        17252 |           62420 |              199200 |                1375 | 95.8303 |
|  3 | Barstow, CA          |        23547 |           42912 |              130100 |                1400 | 94.8005 |
|  4 | Redding, CA          |        92025 |           56098 |              274800 |                1302 | 94.3407 |
Keokuk, IA, Fort Madison, IA, Marshalltown, IA, Indianola, IA, Newton, IA.
|    | City, State      |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |    Score |
|---:|:-----------------|-------------:|----------------:|--------------------:|--------------------:|---------:|
|  0 | Keokuk, IA       |        10225 |           43304 |               75400 |                 530 | 100      |
|  1 | Fort Madison, IA |        10407 |           44334 |               81200 |                 530 |  99.3805 |
|  2 | Marshalltown, IA |        26957 |           54778 |               93300 |                 725 |  81.8218 |
|  3 | Indianola, IA    |        15921 |           62761 |              167600 |                 795 |  78.1179 |
|  4 | Newton, IA       |        15160 |           48417 |              123200 |                1250 |  74.5411 |
East Hartford, CT, Waterbury, CT, Bridgeport, CT, Willimantic, CT, Bristol, CT.
|    | City, State       |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | East Hartford, CT |        50036 |           59954 |              168300 |                1312 | 94.7024 |
|  1 | Waterbury, CT     |       107841 |           46329 |              132700 |                1250 | 94.2929 |
|  2 | Bridgeport, CT    |       145014 |           47484 |              186000 |                1200 | 93.5189 |
|  3 | Willimantic, CT   |        18669 |           35630 |              151500 |                1460 | 92.1922 |
|  4 | Bristol, CT       |        60039 |           68485 |              198600 |                1410 | 91.6833 |
Lake City, FL, Milton, FL, Leesburg, FL, Zephyrhills, FL, Tarpon Springs, FL.
|    | City, State        |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:-------------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Lake City, FL      |        12166 |           40397 |              117300 |                 975 | 97.548  |
|  1 | Milton, FL         |        10259 |           62561 |              134900 |                1250 | 97.1542 |
|  2 | Leesburg, FL       |        23142 |           38026 |              160000 |                1329 | 95.6708 |
|  3 | Zephyrhills, FL    |        16062 |           36799 |              117200 |                1650 | 95.4962 |
|  4 | Tarpon Springs, FL |        25389 |           53713 |              231900 |                1300 | 95.3992 |
Wheeling, WV, Martinsburg, WV, Charleston, WV, Morgantown, WV, Clarksburg, WV.
|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |
|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|
|  0 | Wheeling, WV    |        27046 |           41911 |              110900 |                 760 | 79.0122 |
|  1 | Martinsburg, WV |        17517 |           44363 |              162200 |                1095 | 70.4138 |
|  2 | Charleston, WV  |        47273 |           49769 |              156900 |                 859 | 66.0216 |

In [12]:
missed_content_urls = ['NH', "IN", 'FL', 'PA', "ME", 'HI', 'OR', "TN" ]
missed_content_pages = pd.DataFrame(columns=df.columns)
for other in missed_content_urls:
    fz = df[df['filepath'].str.contains( other)].iloc[0]
    missed_content_pages.loc[len(missed_content_pages),:] = fz.to_list()

,filepath,prompt,response
0,states/NH/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
1,states/IN/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
2,states/FL/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
3,states/PA/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
4,states/ME/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
5,states/HI/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
6,states/OR/chatgpt_output.txt,\nI want to produce an article on the cheapest...,
7,states/TN/chatgpt_output.txt,\nI want to produce an article on the cheapest...,

In [23]:
missed_content_pages.iloc[0,1]

'\nI want to produce an article on the cheapest places to live (for renters) in New Hampshire. Start by producing a section titled exactly as "# Cheapest Places to Live in New Hampshire". This section should be 7 to 8 sentences and an overview of New Hampshire within the broader context of cheapest places to live for renters.\n\nBased on our methodology, the cheapest cities are: Rochester, NH, Concord, NH, Somersworth, NH, Manchester, NH, Keene, NH.\n\nNext, produce one section for each of the 5 cities mentioned above. Create a standard header that starts with "## " before discussing the cities.  Talk about why the city is a great place to live given the data points below. When it comes to rent prices, do not draw any comparisons. Just focus on the data that is given and why the city is nice to live in. Try to reference actual nearby points of interest, roads, neighborhoods, parks, etc.\n\n\nData to utilize:\n|    | City, State     |   Population |   Median Income |   Median Home Value |   2-Bed Asking Rent |   Score |\n|---:|:----------------|-------------:|----------------:|--------------------:|--------------------:|--------:|\n|  0 | Rochester, NH   |        31305 |           66831 |              186600 |                1310 | 88.9928 |\n|  1 | Concord, NH     |        43503 |           70004 |              239300 |                1667 | 78.1813 |\n|  2 | Somersworth, NH |        12027 |           67209 |              211400 |                1795 | 75.1153 |\n|  3 | Manchester, NH  |       112441 |           62087 |              241600 |                2152 | 67.157  |\n|  4 | Keene, NH       |        22823 |           57393 |              186200 |                2325 | 63.6811 |\n'

In [24]:
import httpx
import asyncio
import time
async def call_openai_api(prompt, index):
    api_key = "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"  # Replace with your OpenAI API key
    endpoint = "https://api.openai.com/v1/chat/completions"  # Replace with the API endpoint

    headers = {
        "Authorization": f"Bearer {api_key}",
        "Content-Type": "application/json",
    }
    
    data = {
        "model" : "gpt-4",
         "messages" : [{'content': prompt, 'role': 'user'}],
        "temperature" : .9,
        "n": 1
    }

    async with httpx.AsyncClient(timeout=900) as client:
        response = await client.post(endpoint, json=data, headers=headers)

        if response.status_code == 200:
            result = response.json()
            
            return index, result['choices'][0]['message']['content']  # Return both the index and the result
        else:
            print(response.json())
            return index, 'ERROR'



async def main(df_test):
    prompts = df_test[(df_test['response'] == "") | (df_test['response'] == "ERROR") ].prompt.to_list()#["Translate the following English text to French: 'Hello, world.'", "Generate a summary of a news article."]
    # Make asynchronous API calls
    tasks = []
    # Create and append tasks for each prompt
    for index, prompt in zip(df_test[(df_test['response'] == "") | (df_test['response'] == "ERROR") ].index,prompts):
        task = call_openai_api(prompt, index)
        tasks.append(task)

    # Gather and await tasks, maintaining order
    
    results = await asyncio.gather(*tasks)
    results.sort(key=lambda x: x[0])

    # Extract just the results (excluding the indices)
    ordered_results = pd.Series({result[0] : result[1] for result in results})
    return ordered_results
    #for idx, row in ordered_results.iteritems():
    #    df.loc[idx,'response'] = row
# 



import time
start_time = time.time()
# set DF HERE. 
runningDF = missed_content_pages
# iterates over entire DF in partitions, exec'ing 
run_error_count = 0
start_time = time.time()
# Description: 
# Until we get a response from every input, continue running "safely". 
# TO THINK ABOUT : IF heavy payload to servers, and responses are too slow, past the 35k threshold, does 34999 reruns happen ever?
# Iterates every 80 (Which was our estimated max TPM through openAI.) Into Async Calls, returns ordered responses and creates calls to OpenAI . 
# Change model in call_openai_api in cell.
# 
time_array = []
second_diff_array = []
while len(runningDF[(runningDF['response'] == "ERROR") | (runningDF['response'] == '')]) >1:
    print("Run Count:" + str(run_error_count))
    if (run_error_count > 1 and len(runningDF[(runningDF['response'] == "ERROR") | (runningDF['response'] == '')])) > 35000 or (run_error_count >=5):
        break 
    for i in range(0, len(runningDF[(runningDF['response'] == "ERROR") | (runningDF['response'] == '')]), 50):
        # Extract a slice of the DataFrame containing the current 100 rows
        if i % 800 == 0 and i != 0:
            print(str(i) + "\t: " + str(round(time.time() - start_time,2)))
            runningDF[['filepath','response']].to_csv("missed_responses.csv", index=True)
            time_array.append(start_time)
            second_diff_array.append(round(time.time() - start_time,2))
            start_time = time.time()
            
        subset = runningDF[(runningDF['response'] == "ERROR") | (runningDF['response'] == '')].iloc[i:i+50]
        rez = None 
        try:
            rez = await main(subset)
        except Exception as E: 
            print('ERROR with calls.')
        if type(rez) == pd.Series:
            for idx, row in rez.iteritems():
                runningDF.loc[idx, 'response'] = row 
        time.sleep(30)
    run_error_count += 1 
runningDF[['filepath','response']].to_csv("missed_responses.csv", index=True)

Run Count:0

In [25]:
for idx, row in runningDF.iterrows():
    #print(row[['prompt', 'response']].to_list())

        
    pd.DataFrame([[row['prompt'], row['response']]], columns=['prompt', 'response']).to_csv(row['filepath'], index=False)

# Cheapest Places to Live in New Mexico

In the realm of affordable living, many individuals consider New Mexico an attractive option. Known for its rich culture, stunning landscapes, and lower cost of living, New Mexico stands out among other states. More specifically, for renters looking for a budget-friendly city to call home, New Mexico offers numerous options. Factors like population, median income, home value, and asking rents play crucial roles in determining affordability. According to our methodology, the five cheapest cities in New Mexico for renters include Alamogordo, Farmington, Las Cruces, Gallup, and Clovis.

## Alamogordo, NM

With a population of 31,635, Alamogordo has a small-town charm and a sense of community. The median income of $45,786 and a median home value of $125,400 make it an affordable option for many. When it comes to rent, the asking price for a 2-bedroom apartment is as low as $583. Alamogordo is home to the New Mexico Museum of Space History and Alameda Park Zoo. It's also near the Lincoln National Forest, which offers ample outdoor activities.

## Farmington, NM

Farmington, with a population of 44,967 and a median income of $56,576, is another cost-effective city in New Mexico. The median home value stands at $188,500 with a fairly reasonable 2-bedroom asking rent of $983. Farmington is known for Farmington Lake, Pinon Hills Golf Course, and a variety of outdoor recreation areas, enhancing the city's livability.

## Las Cruces, NM

Las Cruces is the largest city on our list with 102,950 residents. It has a median income of $45,140 and a median home value of $161,100. The 2-bedroom asking rent typically stands around $1160. Known as "The City of Crosses", it is home to New Mexico State University, the historic Old Mesilla Village, and is near the picturesque Organ Mountains-Desert Peaks National Monument.

## Gallup, NM

Despite having the smallest population on our list (21,637), Gallup offers a rich cultural experience due to its Native American heritage. With a median income of $45,754, a median home value of $135,500, and an asking rent for a 2-bedroom apartment at $1125, Gallup is a feasible option for many. It is home to Red Rock Park, Gallup Cultural Center, and close to the historic Route 66.

## Clovis, NM

Clovis, with a population of 38,701, a median income of $47,794, and a median home value of $132,300, is another affordable city to rent in New Mexico. The asking price for a 2-bedroom home is about $1235. The city is known for the Norman Petty Studios, where Buddy Holly recorded many of his hits, Hillcrest Park Zoo, and is conveniently located near highways for easy commuting.